@use "base/variables" as v;
@use "base/mixins" as m;

.formulario {
  margin-top: 5rem;
  .campo {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    label {
      flex: 0 0 10rem; //Medida fija de 100px de ancho
    }

    input {
      flex: 1; //Crece a lo ancho y toma todo el resto del tamaño
      padding: 1rem; //Hacemos mas grandes
      border: none; //Eliminamos el borde por defecto
      background-color: lighten(v.$gris, 40%);
    }
  }
}
